@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

* {
  font-family: "Manrope", sans-serif;
}
.job-card {
  border: 1px solid #ccc;
  border-radius: 14px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  width: 340px;
  height: auto;
}

.description {
  margin-bottom: 10px;
}

.description p {
  padding: auto;
}

.expand-button {
  background-color: transparent;
  border: 1px solid #007bff;
  color: #007bff;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

img {
  width: 50px;
}
.header-top {
  margin: 5px;
}
.top-header {
  /* border: 1px solid black; */
  border-radius: 20%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 7px;
}

.expand-button:hover {
  background-color: #007bff;
  color: #fff;
}

.apply-button {
  display: block;
  width: 100%;
  text-align: center;
  padding: 10px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.companny {
  display: flex;
}
.left-company {
  width: 20%;
}
.right-company {
  width: 80%;
}
.job-listing {
  display: grid;
  grid-gap: 1.5em;
  margin: 1.5em 1.5em 13.5em 1.5em;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
}

.buttons {
  width: 100%;
}

